# app/views/user_mailer/welcome_email.html.erb
<h1>Welcome to SadarSiaga.com</h1>
  <p>
    You have successfully signed up to Sadar Siaga,
    
  </p>
<p>Thanks for joining and have a great day!</p>
