# app/views/user_mailer/welcome_email.html.erb
<h1>Welcome to SadarSiaga.com, <%= @user.name %></h1>
  <p>
    Here is your new password! : <%= @password %>
    
  </p>
<p>Thanks for joining and have a great day!</p>
